# Ignore Git repository
.git/
.gitignore

# Ignore local virtual environment
venv/

# Ignore bash scripts
run_server.sh
kill_server.sh
gcp_deploy.sh
run_tests.sh
run_android_app.sh
dump_state.sh


# Ignre env files containing secrets
.env
.env-sample

# Ignore local state
state/

# Ignore mobile all
mobile/

# Ignore log files
*.log

# Ignore local Python cache and temporary files
__pycache__/
*.pyc
*.pyo
*.pyd
*-save*
*.save
.DS_Store
