# Ignore Git repository
.git/
.gitignore

# Ignore local virtual environment
venv/

# Ignore bash scripts
launch_app.sh
kill_app.sh
gcp_deploy.sh

# Ignre env files containing secrets
.env
.env-sample

# Ignore local state
state/

# Ignore log files
*.log

# Ignore local Python cache and temporary files
__pycache__/
*.pyc
*.pyo
*.pyd
*-save*
*.save
.DS_Store
