# Ignore Git repository
.git/
.gitignore

# Ignore local virtual environment
venv/

# Ignore bash scripts
*.sh

# Ignore utils
utils/

# Ignore README
README.md
ydyl_eval_tool_plan.md

# Ignre local env files containing secrets
.env

# Ignore accounts files
accounts/

# Leftovers
_to_delete/

# Ignore local state
state/

# Ignore log files
*.log

# Ignore local Python cache and temporary files
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd
.DS_Store
