CRBOT_HOSTNAME="0.0.0.0"
CRBOT_PORT="3000"
DATABASE_NAMES="Sample_1,Sample_2"
DATABASE_URLS="DB_URL_1,DB_URL_2"
DATABASE_URL="postgresql://<username>:<password>@<server>:<port>/<database>?sslmode=verify-full&sslrootcert=<cert_file>"
GEMINI_MODEL="gemini-3.6.flash"
GEMINI_PRESET_KEYS="<key1>,<key2>,<key3>"