# Ignore Git repository
.git/
.gitignore

# Ignore local virtual environment
venv/

# Ignore local env setting
.env
presets_local.json

# Ignore utility scripts
*.sh

# Ignore testing files
tests/

# Ignore utils
utils/

# Ignore local state
state/

# Ignore mobile app
mobile/

# Ignore README
README.md

# Ignore log files
*.log

# Ignore local Python cache and temporary files
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd
*-save*
*.save*
.DS_Store
