# Ignore Git repository
.git/
.gitignore

# Ignore local virtual environment
venv/

# Ignore local env setting
.env

# Ignore accounts files
accounts/

# Leftovers
_to_delete/
presets_archive.json

# Ignore utility scripts
*.sh

# Ignore testing files
tests/
pytest.ini
requirements-dev.txt

# Ignore utils
utils/

# Ignore local state
state/

# Ignore README
README.md
ydyl_eval_tool_plan.md

# Ignore log files
*.log

# Ignore local Python cache and temporary files
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd
.DS_Store
